.container {
  max-width: 800px;
  margin: 41px auto;
  padding: 2rem;
  background: white;
}

.post {
  margin-bottom: 2rem;
}

.post img {
  max-width: 100%;
  height: auto;
}

.post-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.post-content {
  font-size: 1rem;
  line-height: 1.5;
}